body {
    font-size: x-small;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.box {
    width: 600px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
